.latx {
    display: inline-block;
    min-width: 150px;
    max-width: 150px;
    float: left;
    }
.navbar-brand {
    font-size: 2em;
    color: skyblue

}

img {
    min-width: 200px;
    max-width: 200px;
}

body {
    background-color: lightgrey;
  }
.rightbox{
    background-color: white;
    padding-top: 50px;
    margin-top: 25px;
}
.leftbox{
    padding-top: 50px;
    background-color: white;
    margin-right: 25px;
    margin-top: 25px;
}

.comparison {
    padding-top: 50px;
    background-color: white;
    padding-top: 50px;
    background-color: white;
 
}

.imgtest  img {
    min-width: 200px;
    max-width: 200px;
    padding-top: 50px;
    background-color: white;
    margin-left: auto ;
    margin-right: auto ;
    display:inline-block;
}




