.latx {
    display: inline-block;
    min-width: 300px;
    max-width: 300px;
    float: left;
    
    }
.navbar-brand {
    font-size: 2em;
    color: skyblue

}

/*img {
    min-width: 200px;
    max-width: 500px;
}*/

body {
    background-color: lightgrey;
  }
.rightbox{
    background-color: white;
    padding-top: 50px;
    margin-top: 25px;
}
.leftbox{
    padding-top: 50px;
    background-color: white;
    margin-right: 25px;
    margin-top: 25px;

}
.leftbox img {
    min-width: 200px;
    max-width: 500px;
}

.comparison {
    padding-top: 50px;
    background-color: white;
    color:#17a2b8;
    margin-top: 50px;
    
    
    
    
    

    
}

/*.comparison img {
    min-width: 500px;
    max-width: 500px;
}*/

.imgtest {
    
    
    border: #17a2b8;
    text-align: center;
    float: left;
    margin-top: 50px;
    min-width: 40%;
   
    
}
/*
.x7up {

    text-align: center;
   
    margin-top: 50px;
    color:#17a2b8;
    
   
    float: left;
    width: 10%;
    padding: 5px;

}*/

#note {
    color: black
}

.data{
    margin-top: 50px;
}

iframe {
    padding-top: 50px;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding-left: 50px;
    margin-left: auto ;
    margin-right: auto ;
}


#header {
    color:#17a2b8;
}
#header2 {
    color:#17a2b8;
}

nav{
    background:white;
}
   
      /* On screens that are 992px or less, set the background color to blue */
@media  (max-width: 600px) {
    #test999 {
          background:#17a2b8;
          color:white;
    }
      }
